<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title}}</title>
</head>
<body>
  <h1>{{.Title}}</h1>
  <ul>
    {{range .Products}}
      <li>
        <strong>{{.Name}}</strong> - Rp{{ .Price}} /
        {{ .Discount}}%
        = Rp{{ .AfterDiscount}}

        {{if .InStock}}
        <span style="color: green;">(Tersedia)</span>        
        {{else}}
        <span style="color: red;">(Tidak Tersedia)</span>        
        {{end}}
      </li>
    {{end}}
  </ul>
</body>
</html>